$mq-xl: 1440px;
$mq-l: 1000px;
$mq-m: 768px;
$mq-s: 320px;

$color-accent: #ff5253;
$color-white: #ffffff;
$color-dark: #363636;
$color-grey70: #727272;
$color-grey40: #a7a7a7;
$color-grey20: #bfc4c9;
$color-grey10: #ebebeb;
$color-grey5: #f9f9fa;
$color-dark: #363636;

$color-dark30: rgba(54, 54, 54, 0.3);
$color-warning: #ffbc1f;
$color-positive: #00ca71;
$color-negative: #f42c4f;

$bg-positive: #ebf9f1;
$bg-negative: #feebea;
$bg-btn-pressed: linear-gradient(233.73deg, #f83600 -16.08%, #f9d423 327.37%);
$bg-btn-hover: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
