@import '../../../styles/mixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  margin: 30px 0;
}

.name {
  margin-left: 120px;
  margin-right: auto;

  @include mqM() {
    margin-left: 40px;
    margin-right: none;
  }

  @include mqXs() {
    margin-left: 20px;
    margin-right: none;
  }
}
