.rating {
  display: flex;
  flex-direction: row;
}

.button {
  cursor: pointer;

  padding: 0 4px;
  margin: 0;
  outline: none;
  border: none;
  background: none;
}

.notChanged {
  cursor: not-allowed;
}
