@import '../../../styles/mixins.scss';

.modal {
  width: clamp(50%, 600px, 90%);
  position: relative;
  padding: 32px;
  background-color: red;
  border-radius: $border-m;

  @include mqM() {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 48px;
  height: 48px;

  background-color: $color-grey5;

  @include mqM() {
    top: 16px;
    left: 16px;

    width: 32px;
    height: 32px;
  }

  & svg,
  & path {
    fill: $btn-color-pressed;

    &:hover {
      fill: $color-white;
    }
  }

  &:hover {
    & svg,
    & path {
      fill: $color-white;
    }
  }
}
