@import '../../../styles/mixins.scss';

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  ul {
    display: flex;
    flex-direction: column;
    & > li > ul {
      display: flex;

      & > li {
        display: flex;
        column-gap: 8px;

        * > p,
        span {
          color: $color-grey40;
        }
      }
    }
    color: $color-dark;
  }

  & span {
    cursor: pointer;
  }

  & > ul > li > a > p {
    font-size: 18px;
    font-weight: bold;
  }
}

.item_choosed {
  color: $color-accent;
  display: block;
  * svg,
  path {
    fill: $color-accent;
  }
  * > p {
    border-bottom: 1px solid $color-accent;
  }
}
