@import '../../../styles/mixins.scss';

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  ul {
    display: flex;
    flex-direction: column;
    & > li > ul {
      display: flex;
      gap: 16px;
      margin-left: 20px;

      & > li {
        display: flex;
        column-gap: 8px;
      }

      & li:first-child {
        margin-top: 20px;
      }
    }
    color: $color-dark;
  }

  & span {
    cursor: pointer;
  }

  & > ul > li {
    & > p,
    & > a > p {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      transition: $transition-m all;
    }
  }
}

.choosed {
  color: $color-accent;
  font-weight: bold;

  &__title {
    color: $color-accent;
    border-bottom: 3px solid $color-accent;

    * svg,
    path {
      fill: $color-accent;
    }
  }

  &__item {
    color: $color-accent;
    font-weight: bold;
  }
}
