@import '../../../styles/mixins.scss';

.list {
  display: grid;
  column-gap: 20px;
  row-gap: 25px;

  margin: 20px 0;
  &_tile {
    grid-template-columns: repeat(1, 1fr);
  }

  &_list {
    grid-template-columns: repeat(4, 1fr);

    @include mqXl() {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mqM() {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}
